#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    /*opacity: 0.7;*/
    background-color: #000000;
    z-index: 100000000000000000000000000000000;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
}

small.error {
    color: #ff4a38;
}

/*Slick Custom css*/

.slider {
    width: 100%;
    margin: 10px auto;
    /*background-color: #242629;*/
}

.slick-slide {
    margin: 0 20px;
    transition: all ease-in-out .3s;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/*.slick-slide {*/
/*    opacity: .6;*/
/*}*/

/*.slick-active {*/
/*    opacity: .5;*/
/*}*/

/*.slick-current {*/
/*    opacity: 1;*/
/*}*/

.slick-next {
    margin-right: 71px !important;
}

.slick-prev {
    margin-left: 33px !important;
    z-index: 20;
}

.main-slider .slick-next {
    margin-right: 82px !important;
}

.main-slider .slick-prev {
    margin-left: 45px !important;
}

.slick-prev:before {
    font: 40px/1 'FontAwesome' !important;
    content: "\f104" !important;
    font-size: 50px !important;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: white !important;
}

.slick-next:before {
    font: 40px/1 'FontAwesome' !important;
    content: "\f105" !important;
    font-size: 50px !important;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: white !important;
}

.game-list-inline-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 200px;
    margin: 0 7px;
}

.game-list-inline-item a {
    display: block;
}

.game-list-inline-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0;
    margin: 0;
    width: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7) 50%);
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;

}

.slick-slide img {
    display: block;
}

.img-responsive {
    cursor: pointer;
    display: block;
    max-width: 100%;
    height: 300px;
}

.slicker-show-up {
    visibility: hidden;
}

.slick-initialized {
    visibility: visible;
}

.slide-media {
    min-width: 500px;
    height: 300px;
}

.img-box:hover > .overlay-img {
    opacity: 1;
    cursor: pointer;
}

.overlay-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    position: absolute;
    line-height: 270px;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*custom color plyr*/
.plyr__video-embed iframe {
    top: -50% !important;
    height: 200% !important;
    pointer-events: all !important;
}


.plyr--full-ui input[type=range] {
    color: red !important;
}

.plyr__control--overlaid {
    background: red !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: red !important;
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px red !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: red !important;
}

/*.media-thumbs-scroll {*/
/*    position: absolute;*/
/*    z-index: 300;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    margin-top: 100px;*/
/*    text-align: center;*/
/*    background-color: rgba(0,0,0,0.6);*/
/*    color: white;*/
/*    font-size: 30px;*/
/*    cursor: pointer;*/
/*}*/

/*.media-thumbs-scroll-left {*/
/*    margin-left: 7px;*/
/*}*/

/*End Slick Custom css*/

.score-review {
    position: absolute;
    bottom: -33px;
}

.score-review .badge {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    bottom: 8px;
    left: 8px;
    right: auto;
    top: auto
}

.widget-post .widget-list li > div.widget-img {
    width: 150px !important;
}

.owl-carousel .owl-item img {
    max-height: 600px;
}

/*BLOG CSS*/

.post figure {
    width: 100% !important;
}

.post-single iframe {
    height: 100%;
    min-height: 600px !important;
}

.post-single a {
    color: #00AFF0 !important;
}

.post-single {
    font-size: 18px !important;
}

/*css Gamespot*/

.typography-format [data-embed-type="pinbox"], [data-embed-type="pinbox"] {
    margin-bottom: 1.3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: 1px solid rgba(0, 84, 209, 0.25);
    border-bottom: 1px solid rgba(0, 84, 209, 0.25);
}

[data-embed-type="pinbox"] {
    margin-bottom: 1.3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-left: 2px solid #0054d1;
    border-right: 2px solid #0054d1;
}

.typography-format [data-embed-type="pinbox"] .associated-header, [data-embed-type="pinbox"] .associated-header {
    margin-bottom: 0.75em;
    color: #000;
    font-weight: bold;
}

[data-embed-type="pinbox"] .associated-header {
    font-style: italic;
}

.typography-format [data-embed-type="pinbox"] ul, [data-embed-type="pinbox"] ul {
    margin-bottom: 0;
    color: #0054d1;
}

[data-embed-type="pinbox"] ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.symbol {
    fill: currentColor;
    position: relative;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

/*end css gamespot*/

.note-editor .card-header {
    display: flex !important;
}