#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    /*opacity: 0.7;*/
    background-color: #000000;
    z-index: 100000000000000000000000000000000;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
}

small.error {
    color: #ff4a38;
}

/*Slick Custom css*/

.slider {
    width: 100%;
    margin: 10px auto;
    /*background-color: #242629;*/
}

.slick-slide {
    margin: 0 20px;
    transition: all ease-in-out .3s;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/*.slick-slide {*/
/*    opacity: .6;*/
/*}*/

/*.slick-active {*/
/*    opacity: .5;*/
/*}*/

/*.slick-current {*/
/*    opacity: 1;*/
/*}*/

.slick-next {
    margin-right: 71px !important;
}

.slick-prev {
    margin-left: 33px !important;
    z-index: 20;
}

.main-slider .slick-next {
    margin-right: 82px !important;
}

.main-slider .slick-prev {
    margin-left: 45px !important;
}

.slick-prev:before {
    font: 40px/1 'FontAwesome' !important;
    content: "\f104" !important;
    font-size: 50px !important;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: white !important;
}

.slick-next:before {
    font: 40px/1 'FontAwesome' !important;
    content: "\f105" !important;
    font-size: 50px !important;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: white !important;
}

.game-list-inline-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 850px;
    margin: 0 7px;
}

.video-game iframe {
    width: 100%;
    height: 400px;
}

.game-list-inline-item a {
    display: block;
}

.game-list-inline-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0;
    margin: 0;
    width: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7) 50%);
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 400;

}

.video-game .slick-next {
    width: 31px !important;
}

.video-game .slick-prev {
    margin-left: 45px !important;
}

.slick-slide img {
    display: block;
}

.img-responsive {
    cursor: pointer;
    display: block;
    max-width: 100%;
    height: 400px;
}

.slicker-show-up {
    visibility: hidden;
}

.slick-initialized {
    visibility: visible;
}

.slide-media {
    min-width: 500px;
    height: 300px;
}

.img-box:hover > .overlay-img {
    opacity: 1;
    cursor: pointer;
}

.overlay-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    position: absolute;
    line-height: 270px;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*custom color plyr*/
.plyr__video-embed iframe {
    top: -50% !important;
    height: 200% !important;
    pointer-events: all !important;
}


.plyr--full-ui input[type=range] {
    color: red !important;
}

.plyr__control--overlaid {
    background: red !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: red !important;
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px red !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: red !important;
}

/*.media-thumbs-scroll {*/
/*    position: absolute;*/
/*    z-index: 300;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    margin-top: 100px;*/
/*    text-align: center;*/
/*    background-color: rgba(0,0,0,0.6);*/
/*    color: white;*/
/*    font-size: 30px;*/
/*    cursor: pointer;*/
/*}*/

/*.media-thumbs-scroll-left {*/
/*    margin-left: 7px;*/
/*}*/

/*End Slick Custom css*/

.score-review {
    position: absolute;
    bottom: -33px;
}

.score-review .badge {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    bottom: 8px;
    left: 8px;
    right: auto;
    top: auto
}

.widget-post .widget-list li > div.widget-img {
    width: 150px !important;
}

/*BLOG CSS*/

.post figure {
    width: 100% !important;
}

.post-single iframe {
    height: 100%;
    min-height: 600px !important;
}

.post-single a {
    color: #00AFF0 !important;
}

.post-single {
    font-size: 18px !important;
}

/*css Gamespot*/

.typography-format [data-embed-type="pinbox"], [data-embed-type="pinbox"] {
    margin-bottom: 1.3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-top: 1px solid rgba(0, 84, 209, 0.25);
    border-bottom: 1px solid rgba(0, 84, 209, 0.25);
}

[data-embed-type="pinbox"] {
    margin-bottom: 1.3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-left: 2px solid #0054d1;
    border-right: 2px solid #0054d1;
}

.typography-format [data-embed-type="pinbox"] .associated-header, [data-embed-type="pinbox"] .associated-header {
    margin-bottom: 0.75em;
    color: #000;
    font-weight: bold;
}

[data-embed-type="pinbox"] .associated-header {
    font-style: italic;
}

.typography-format [data-embed-type="pinbox"] ul, [data-embed-type="pinbox"] ul {
    margin-bottom: 0;
    color: #0054d1;
}

[data-embed-type="pinbox"] ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.symbol {
    fill: currentColor;
    position: relative;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

/*end css gamespot*/

.note-editor .card-header {
    display: flex !important;
}

.text-editor .card {
    margin-bottom: 0 !important;
}

#ajax-loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 100;
    text-align: center;
}

#ajax-gif {
    position: absolute;
    height: 100px;
    top: 50%;
    left: 40%;
    z-index: 100;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-over-two-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-over-summary-game {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-over-badge {
    display: block;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-menu {
    max-height: 500px !important;
    overflow-y: auto !important;
}

.post .post-thumbnail .badge {
    top: 10px !important;
    left: 10px !important;
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.tabs-color .tab-content {
    padding: 30px 0 !important;
    background-color: unset !important;
    border: none !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.navbar .checkbox-toggle label {
    height: 17px;
!important;
}


/*custom embed youtube */

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

/*end custom embed youtube*/


.home-top .carousel-control-next {
    width: 5% !important;
}

.home-top .carousel-control-prev {
    width: 5% !important;
}

.home-top .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

.home-top .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #e45454 !important;
    border-color: #e45454 !important;
}

.review-homepage .chart {
    position: relative;
    display: inline-block;
    text-align: center;
}

.review-homepage .chart canvas {
    position: absolute;
    top: -20px;
    left: 40px;
}

.review-homepage .percent {
    display: inline-block;
    line-height: 40px;
    z-index: 2;
    margin-left: 58px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
}

.review-homepage .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}